*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100%;
    background-image: url(images/profilepic1.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
/*This is for underline in header Section(Menus) like hover type something */
nav ul li a::after{
    content: " ";
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
/*this is hover effect for just above part*/
nav ul li a:hover::after{
    width: 100%;
}
/*from here header text css continued which contains image side text css*/

.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
    ;
}
/*this css is for span text in header section for my name somesh*/

.header-text p span{
    color: #b54769;
}
.header-text h1 span{
    color: #ff004f;
}
/*----------------------------------Resume Button CSS--------------------------------*/
.header-text a{
    display: block;
    margin: 30px 0px;
    width: fit-content;
    border: 2px solid #fdfbfc;
    padding: 14px 10px;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    transition: background(0.7s);
}
.header-text a:hover{
    background: #ff004f;
    transform: translateY(5px);
}

/* --------------From here the ABOUT ME section css starts--------------------------------------*/


#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 20px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: " ";
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/* -----------------------services div starts from here--------------------------------------- */
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 15px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 20px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin-top: 15px;
    display: inline-block;
}
.services-list :hover{
    background: #ff004f;
    transform: translateY(-10px);
}
/*---------------------------------- Poerfolio div css and my learnings ssecton csss starts form here -----------------*/
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 15px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.3), #080808);
    border-radius: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 700;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.layer i{
    font-size: 50px;
}
.layer a{
    margin-top: 15px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.button{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 2px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    transition: background 0.5s;
}
.button:hover{
    background: #ff004f;
}
/*----------Contact Secton--------------*/
#contact{
    align-items: center;

}
.contact-left{
    flex-basis: 35%;
}
.contact-left p{
    margin-top: 25px;
}
.contact-left p i{
    color: #fff;
    margin-right: 20px;
    font-size: 25px;
}
.social-icons div{
    margin-top: 25px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 20px;
    margin-top: 20px;
    color: #ababab;
    display: inline-block;
    transition: transform(0.7s);
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.Copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 15px;
}

/*CSS for Small SCreen -------------------*/
@media only screen and (max-width: 600px){

}